[Unit]
Description=Nursery Touch button Service
After=multi-user.target

[Service]
User=pi
Type=idle
ExecStart=/usr/bin/python /home/pi/nursery/nurseryTouch.py
Restart=on-failure

[Install]
WantedBy=multi-user.target
